h1 {
    font-size: 400%;
    font-weight: bold;
}

body {
    font: small 'Lucida Grande', Verdana, Arial, sans-serif;
    text-align: center;
}

table {
    font-size: 120%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

thead th {
    font-weight: bold;
}

table td {
    border: 1px solid rgb(150, 150, 150);
    padding: 3px;
}

